{ lib, rustPlatform, nix-gitignore }:

let
  cargo = fromTOML (builtins.readFile ./Cargo.toml);
in

rustPlatform.buildRustPackage {
  pname = cargo.package.name;
  version = cargo.package.version;

  src = nix-gitignore.gitignoreSource [".git" ".gitignore" "*.nix"] ./.;

  cargoLock = {
    lockFile = ./Cargo.lock;
  };
}
