 let
   nixpkgs = fetchTarball "https://github.com/NixOS/nixpkgs/tarball/{{ channel }}";
   pkgs = import nixpkgs { config = {}; overlays = []; };
   build = pkgs.callPackage ./build.nix {};
 in
 {
   build = build;
   shell = pkgs.mkShellNoCC {
     inputsFrom = [ build ];
   };
 }