 let
   nixpkgs = fetchTarball "https://github.com/NixOS/nixpkgs/tarball/{{ channel }}";
   pkgs = import nixpkgs { config = {}; overlays = []; };
   build = pkgs.callPackage ./build.nix {};
   #PROJECT_ROOT = builtins.getEnv "PWD";
   PROJECT_ROOT = builtins.toString ./.;
 in
 {
   build = build;
   shell = pkgs.mkShellNoCC {
     inputsFrom = [ build ];
     packages = [
      {% for package in shell_packages %}
        pkgs.{{ package.name() }}
      {% endfor %}
     ];
     {% for (key, value) in shell_attrs %}
     {{ key }} = {{ value|escape("none") }};
     {% endfor %}
   };
 }